/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */
h1, h2, h3, h4, h5 {
   font-family: Montserrat, helvetica;
   
}
h1, h2 {
  text-transform: uppercase;
}

p {
   font-family: 'Source Sans Pro', helvetica;
}

.carousel-caption {
   margin-bottom: 21px;
}
.bg-blue {
   background-color: #163042;
}
.text-white {
   color: white;
}

body { }

.slider {
   height: 650px;
}
.full-width {
   width: 100%;
}
.font-large {
   font-size: 22px;
}
.venue-caption {
   padding-top: 200px;
}
.gradient-diag {
   background-image: -webkit-linear-gradient(38deg, rgb(255, 255, 255), #B5F6FF 50%, #27E5FF 50%, rgb(199, 141, 141) 100%);
   // background-image: -moz-linear-gradient(38deg, rgb(76, 133, 218) 0%, #4cd2da 50%, #5adae2 50%, rgb(90, 199, 226) 100%);
   // background-image: -ms-linear-gradient(38deg, rgb(76, 133, 218) 0%, #4cd2da 50%, #5adae2 50%, rgb(90, 199, 226) 100%);
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner { }
.navbar {
   margin-bottom: 0px;
   background-color: none;
   border:none;
   float: none;
   width: 100%;
   font-size: 18px;

   .container {
      padding-top: 20px;
   }
}
.navbar-nav {
   float: right;
}
.logo {
   height: 50px;
   margin: 7px;
}
.social-icons{
  padding-right:15px;

}
.social-footer{
  height: 25px;
}
section.widget.text-2.widget_text .textwidget{
float: right;
margin: 0px 0px 19px 0px;}
/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* centered columns styles */
.row-centered, .text-center {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
